*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

/* App specific */
.App {
  min-height: 100vh;
  padding: 6rem;
}